# Configuración Flake8 para Hefest
[flake8]
max-line-length = 135
extend-ignore = E203,W503,E501
exclude = .git,__pycache__,.venv,build,dist,docs,logs,logs_debug,htmlcov,version-backups
show-source = True
statistics = True
max-complexity = 15
